@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&family=Poppins:ital,wght@0,700;1,400;1,700;1,800&display=swap');

*{
    padding: 0;
    margin: 0;
}
:root {
    --White: hsl(0, 0%, 100%);
    --Off-white: hsl(0, 0%, 94%);
    --Light-grey: hsl(0, 0%, 86%);
    --Smokey-grey: hsl(0, 1%, 44%);
    --Off-black: hsl(0, 0%, 8%);
    --Purple: hsl(259, 100%, 65%);
    --Light-red: hsl(0, 100%, 67%);
    --font-family: 'Poppins';
    --font-reg: 400;
    --font-bold: 700;
    --font-bold-italic: 800;

}

body{
    font-family: var(--font-family);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--Off-white);
    font-family: var(--font-family);
}

.card{
    background-color: var(--White);
    border-radius: 15px 15px 100px 15px;
}

.card-container{
    margin: 30px;
}

.card-bottom{
   margin: 30px 0;
}

.form-container {
    height: 130px;
    display: flex;
    column-gap: 10px;
    justify-content: space-around;
    align-items: flex-start;
    border-bottom: 1px solid var(--Light-grey);
 }

 
 #btn-svg {
     padding: 5px;
     height: 25px;
 }

 .submit-btn {
    position: absolute;
    display: grid;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    border: none;
    background-color: var(--Purple);
    margin-top: 105px;
    place-items: center;
}

#btn-svg {
    padding: 5px;
    height: 25px;
}

.submit-btn:hover{
    background-color: var(--Off-black)
}

.submit-btn:active{
    background-color: var(--Purple);
}

label{
    color: var(--Smokey-grey);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
    margin-bottom: 5px;
}

.input-field{
    width: 33%;
    display: grid;
    align-items: center;
    justify-content: space-between;
}

input {
    width: 70px;
    height: 35px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-error{
    border: 1px solid var(--Light-red) !important;
}

input:focus{
    outline: none;
    border: 1px solid var(--Purple);
}

input::placeholder {
    font-family: var(--font-family);
    color: var(--Smokey-grey);
}

input[type='number'] {
    -moz-appearance: textfield;
    color:var(--Off-black);
    line-height: 2rem;
    font-family: var(--font-family);
    padding-left: 10px;
    border: 1px solid var(--Light-grey);
}

.error-message,
.invalid-data-error{
    color: var(--Light-red) !important;
}

.error-message{
    font-size: 8px;
    font-weight: 400;
    font-style: italic;
    padding: 5px 0;
}

input[type='number'] {
    font-size: 20px;
}

/* card bottom */
.results-container,
.result {
    font-weight: var(--font-bold-italic);
    font-style: italic;
    font-size: 50px;
}

.result {
    color: var(--Purple)
}

.sr-only {
    display: none;
}

@media only screen and (min-width: 500px) {
    input {
        width: 100px;
        height: 50px;
    }
  }

  @media only screen and (min-width: 700px) {
    .card{
        width: 700px;
        column-gap: 5px;
    }

    .card-container{
        margin: 50px;
    }

    .form-container {
        width: 500px;
  }


  input {
    width: 120px;
    height: 60px;
}

  .submit-btn {
    position: absolute;
    display: grid;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    border: none;
    background-color: var(--Purple);
    margin-top: 95px;
    margin-left: 600px;
    place-items: center;
    }

    #btn-svg {
        padding: 5px;
        height: 40px;
    }

    .results-container{
        font-size: 3.875rem;
        font-weight: 800;
     }

     .result{
        letter-spacing: 5px;
        font-size: 4.5rem;
     }

     input[type='number'] {
        font-size: 2rem;
    }

    .error-message{
        font-size: 0.75rem;
    }


  }

